.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    filter: invert(12%) sepia(93%) saturate(1352%) hue-rotate(17deg) brightness(119%) contrast(119%);
  }
}

.App-header {
  background-color: #0945c7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.welcome {
  text-align: center;
}
div.prof_pic {
  text-align: center;
  width: "300px";
}
.rounded-circle {
  border-radius: 50%!important;
  }
.login_title {
  text-align: center;
}
div.word_wrap {
  word-wrap: break-word;
}
.login_button {
  text-align: center;
  padding: 70px 0;
}